.navbar {
  background-color: #4B0082;
  padding: 10px;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 1;
}

.nav-list {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.nav-item {
  margin: 0 15px;
}

.nav-link {
  color: white;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}

router-outlet {
  margin-top: 60px;
  display: block;
}

.footer {
  background-color: #4B0082;
  color: white;
  text-align: center;
  padding: 15px 0;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 1;
}
