<h2>Forget Password</h2>
<form [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="email">Email:</label>
    <input id="email" formControlName="email" type="email" placeholder="Enter your email to reset password" />
    <div *ngIf="forgetPasswordForm.get('email')?.invalid && (forgetPasswordForm.get('email')?.touched || forgetPasswordForm.get('email')?.dirty)">
      <small *ngIf="forgetPasswordForm.get('email')?.errors?.['required']">Email is required.</small>
      <small *ngIf="forgetPasswordForm.get('email')?.errors?.['email']">Invalid email format. Please include '&#64;'.</small>
    </div>
  </div>
  <button type="submit" [disabled]="forgetPasswordForm.invalid">Reset Password</button>
</form>
